apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
configMapGenerator:
- files:
  - application-health-dashboard.json
  - sciety-ingestion-health.json
  name: sciety-dashboards
patches:
- patch: |
    apiVersion: v1
    kind: ConfigMap
    metadata:
      name: sciety-dashboards
      labels:
        grafana_dashboard: "1"
