apiVersion: rds.services.k8s.aws/v1alpha1
kind: DBInstance
metadata:
  name: sciety-demo
spec:
  allocatedStorage: 20
  dbInstanceClass: db.t4g.micro
  dbInstanceIdentifier: sciety-demo
  dbName: postgres
  port: 5432
  engine: postgres
  engineVersion: "12"
  masterUsername: "postgres"
  masterUserPassword:
    name: demo-database
    key: password
  vpcSecurityGroupIDs:
    - sg-0a04b1c8433227e63
  dbSubnetGroupName: elife-flux-prod-ack-rds-controller-all-dbs
---
apiVersion: services.k8s.aws/v1alpha1
kind: FieldExport
metadata:
  name: sciety-demo-dbinstance-endpoint-address
  namespace: sciety
spec:
  to:
    name: sciety--demo--public-env-vars
    kind: configmap
    key: PGHOST
  from:
    path: ".status.endpoint.address"
    resource:
      group: rds.services.k8s.aws
      kind: DBInstance
      name: sciety-demo
