apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: sciety--staging
spec:
  releaseName: sciety--staging
  interval: 5m
  chart:
    spec:
      chart: helm/sciety
      reconcileStrategy: Revision
      sourceRef:
        kind: GitRepository
        name: sciety
      interval: 1m
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  valuesFrom:
    - kind: Secret
      name: sciety--staging--secret-env-vars
      valuesKey: AUTH0_CLIENT_ID
      targetPath: auth0ClientId
    - kind: Secret
      name: sciety--staging--secret-env-vars
      valuesKey: AUTH0_CLIENT_SECRET
      targetPath: auth0ClientSecret
    - kind: Secret
      name: sciety--staging--secret-env-vars
      valuesKey: AUTH0_DOMAIN
      targetPath: auth0Domain
    - kind: Secret
      name: sciety--staging--secret-env-vars
      valuesKey: AUTH0_CALLBACK_URL
      targetPath: auth0CallbackUrl
    - kind: Secret
      name: sciety--staging--secret-env-vars
      valuesKey: BONFIRE_SCIETY_ACCOUNT_EMAIL
      targetPath: bonfireScietyAccountEmail
    - kind: Secret
      name: sciety--staging--secret-env-vars
      valuesKey: BONFIRE_SCIETY_ACCOUNT_PASSWORD
      targetPath: bonfireScietyAccountPassword
    - kind: Secret
      name: sciety--staging--secret-env-vars
      valuesKey: healthchecksPingKey
      targetPath: healthchecksPingKey
    - kind: Secret
      name: sciety--staging--secret-env-vars
      valuesKey: PREREVIEW_BEARER_TOKEN
      targetPath: prereviewBearerToken
    - kind: ConfigMap
      name: sciety--staging--public-env-vars
      valuesKey: EXPERIMENT_ENABLED
      targetPath: experimentEnabled
    - kind: ConfigMap
      name: sciety--staging--public-env-vars
      valuesKey: APP_CACHE
      targetPath: appCache
    - kind: ConfigMap
      name: sciety--staging--public-env-vars
      valuesKey: GOOGLE_TAG_MANAGER_ID
      targetPath: googleTagManagerId
    - kind: ConfigMap
      name: sciety-event-shipper-config
      valuesKey: EVENT_SHIPPER_ROLE_ARN
      targetPath: eventShipperIAMRoleARN
    - kind: ConfigMap
      name: sciety--staging--public-env-vars
      valuesKey: exportBucketName
      targetPath: exportBucketName
  values:
    hostname: staging.sciety.org
    images:
      frontend:
        tag: fb72cf4d9b4ee834a388f2069d054f61232247ea
    certManagerClusterIssuer: letsencrypt
  postRenderers:
    - kustomize:
        patches:
          - target:
              version: v1
              kind: Deployment
              name: sciety--staging--frontend
            patch: |
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: not-used
              spec:
                template:
                  spec:
                    containers:
                    - name: app
                      resources:
                        requests:
                          cpu: 1.5
                          memory: 900Mi
          - target:
              version: v1
              kind: Deployment
              name: sciety--staging--cache
            patch: |
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: not-used
              spec:
                template:
                  spec:
                    containers:
                    - name: redis
                      resources:
                        requests:
                          cpu: 100m
                          memory: 1.5Gi
